streamlit
google-api-python-client
python-dotenv
google-generativeai
matplotlib
pandas
Pillow
requests

sec-list
flask
flask-session
google-api-python-client
python-dotenv
google-generativeai
plotly
pandas
requests